<mat-toolbar class="header mat-elevation-z4">
    <div class="container-info">
        <span>
            <a routerLink="/home/listas">
                <img class="logo" src="assets/images/logo.png" alt="logo">
            </a>
        </span>

        <div class="input-pesquisa">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Pesquisar">
        </div>
    </div>

    <div class="container-user">
        <div *ngIf="exibir">
            <span>
                {{ usuario.nome }}
            </span>

            <img src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-256.png" alt="User photo"
                *ngIf="usuario.foto == undefined">

            <img src="{{ usuario.foto }}" alt="User photo" *ngIf="usuario.foto != undefined">
        </div>

        <div *ngIf="!exibir">
            <a (click)="onClickLogout()" href="#">Sair</a>
        </div>
    </div>



</mat-toolbar>