<mat-toolbar class="header mat-elevation-z4">
    <div class="container-info">
        <span>
            <a routerLink="/home/listas">
                <img class="logo" src="assets/images/logo.png" alt="logo">
            </a>
        </span>
    
        <div class="input-pesquisa">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Pesquisar">
        </div>
    </div>

    <div class="container-user">
        <span>
            Nícolas
        </span>
        <img src="assets/images/user.png" alt="User photo">
    </div>


</mat-toolbar>