@media (max-width: 575.98px) {
    .sidenav {
        width: 15%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .sidenav {
        width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .sidenav {
        width: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .sidenav {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .sidenav {
        width: 20%;
    }
}

.sidenav {
    background-color: #fff;
    padding-left: 6%;
}

.sidenav .container-button {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.sidenav .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 48px;
    height: 48px;
    background: #6DC68A;
}

.sidenav .button a i {
    display: flex;
    color: #fff;
    font-size: 40px;
    padding-right: 0px;
}

.sidenav a {
    color: #717171;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Prompt', sans-serif;
}

.sidenav i {
    padding-right: 5px;
    font-size: 20px;
}

.content {
    padding: 16px;
    background-color: white;
}

.mat-drawer-side {
    border-right: 1px solid #F2F2F2;
}

.navigation {
    background: #6DC68A;
    border-radius: 20px 0px 0px 20px;
    color: #fff !important;
}

.navigation:hover {
    background: #717171;
}
