<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <div class="container-button">
            <div class="button">
                <a href="">
                    <i class="material-icons">
                        add
                    </i>
                </a>
            </div>
        </div>

        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/home" style="background: #6DC68A; border-radius: 20px 0px 0px 20px; color: #fff;">
                <i class="material-icons">
                    list
                </i>
                Listas
            </a>
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                    label
                </i>
                Categorias
            </a>
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                    star
                </i>
                Favoritos
            </a>
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                    attach_money
                </i>
                Gastos
            </a>
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                    move_to_inbox
                </i>
                Arquivo
            </a>
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                   settings
                </i>
                Configurações
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet>

        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>