<div class="bg">
    <div class="grain">
        <div class="row content-img" style="width: 100%;">
            <div class="col">
                <div class="row">
                    <div class="col-9 d-flex justify-content-end">
                        <img src="assets/images/login-img1.png" alt="Moça do carrinho" class="img-fluid">
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-8 d-flex justify-content-end">
                        <img src="assets/images/login-img2.png" alt="Moço da sacola" class="img-fluid">
                    </div>
                    <div class="col d-flex justify-content-end" style="padding-right: 0px;">
                        <img src="assets/images/login-img3.png" alt="Moça da cesta" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>


        <div class="box">
            <img src="assets/images/logo.png" alt="ListFácil" class="logo">
            <h3 class="titulo">Novas maneiras de organizar suas compras.</h3>

            <div class="container-link">
                <p class="text">Novo aqui?</p>
                <a href="" class="link">Crie uma conta.</a>
            </div>

            <br>

            <p class="text-input">E-mail</p>
            <input required>

            <div class="container-senha">
                <p class="text-input">Senha</p>
                <a href="" class="link">Esqueceu a senha?</a>
            </div>
            <input type="password">

            <div class="container-checkbox">
                <input type="checkbox" id="lembrar">
                <label for="lembrar">Lembrar-me da próxima vez.</label>
            </div>

            <button class="entrar" (click)="goToHome()">Entrar</button>

            <div class="row separador">
                <div class="col-sm align-self-center" style="padding-right: 5px;">
                    <div class="linha"></div>
                </div>
                <div class="col-sm text align-self-center"
                    style="padding-right: 5px; padding-left: 5px; text-align: center;">
                    ou entre com
                </div>
                <div class="col-sm align-self-center" style="padding-left: 5px;">
                    <div class="linha"></div>
                </div>
            </div>

            <button class="google">
                <img src="assets/images/google-icon.png" alt="icon-google">
                Google
            </button>
        </div>

    </div>
</div>