<div class="bg">
    <div class="grain">
        <img src="assets/images/login-img1.png" alt="Moça do carrinho" class="image01">
        <img src="assets/images/login-img2.png" alt="Moço da sacola" class="image02">
        <img src="assets/images/login-img3.png" alt="Moça da cesta" class="image03">

        <div class="container">
            <div class="box">
                <img src="assets/images/logo.png" alt="ListFácil" class="logo">
                <h3 class="titulo">Novas maneiras de organizar suas compras.</h3>

                <div class="container-link">
                    <p class="text">Novo aqui?</p>
                    <a href="" class="link">Crie uma conta.</a>
                </div>

                <br>

                <p class="text-input">E-mail</p>
                <input type="email" class="input-text">

                <div class="container-senha">
                    <p class="text-input">Senha</p>
                    <a href="" class="link">Esqueceu a senha?</a>
                </div>
                <input type="password">
            </div>
        </div>
    </div>
</div>