* {
    font-family: 'Rubik', sans-serif;
}

h2 {
    text-align: center;
    color: #717171;
}

.row {
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
}

.border-row {
    border: 2px solid #6DC68A;
}

.circle-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

span {
    font-weight: 600;
    color: #717171;
}