<div class="bg">
    <div class="grain">
        <div class="row content-img" style="width: 100%;">
            <div class="col">
                <div class="row">
                    <div class="col-9 d-flex justify-content-start">
                        <img src="assets/images/login-img2.png" alt="Moça do carrinho" class="img-fluid">
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-8 d-flex justify-content-end">
                        <img src="assets/images/login-img4.png" alt="Moço da sacola" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>


        <div class="box">
            <img src="assets/images/logo.png" alt="ListFácil" class="logo">

            <br />  <br />

            <p class="text-input">Nome</p>
            <input required>

            <br />  <br />

            <p class="text-input">E-mail</p>
            <input required>

            <br />  <br />

            <p class="text-input">Senha</p>
            <input type="password">

            <div class="container-checkbox">
                <input type="checkbox" id="lembrar">
                <label for="lembrar">Aceitar os<a href="" class="link">termos de uso</a>.</label>
            </div>

            <button class="criar">Criar</button>

            <div class="row separador">
                <div class="col-sm align-self-center" style="padding-right: 5px;">
                    <div class="linha"></div>
                </div>
                <div class="col-sm text align-self-center"
                    style="padding-right: 5px; padding-left: 5px; text-align: center;">
                    ou entre com
                </div>
                <div class="col-sm align-self-center" style="padding-left: 5px;">
                    <div class="linha"></div>
                </div>
            </div>

            <button class="google">
                <img src="assets/images/google-icon.png" alt="icon-google">
                Google
            </button>
        </div>

    </div>
</div>