<div class="container">
    <h1>Listas</h1>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let lista of listas">
            <div class="cardlist-laranja">
                <span class="title">{{ lista.titulo }}</span>

                <div class="container-categoria">
                    <div class="marcador"></div>
                    <span>{{ lista.categoria.nome }}</span>
                    <div class="etiqueta">
                        <span>{{ lista.etiqueta.nome.toUpperCase() }}</span>
                    </div>
                </div>

                <div class="container-checkbox">
                    <div class="row" *ngFor="let i of lista.itens">
                        <mat-checkbox style="font-family: 'Prompt', sans-serif;" (change)="onClickUpdateItemComprado(i, $event)"
                            [(ngModel)]="i.comprado">
                            {{ i.nome }}
                        </mat-checkbox>
                    </div>
                </div>

                <div class="container-footer">
                    <span>{{ lista.data_criacao | date:"dd 'de' MMM, yyyy" }}</span>

                    <div class="editar" (click)="onClickNavigateToLista(lista.id)">
                        <img src="assets/images/editar.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="cardlist-verde">
                <span class="title">Churras de domingo</span>

                <div class="container-categoria">
                    <div class="marcador" style="background:  #A3D2FF;"></div>
                    <span>fim de semana</span>
                    <div class="etiqueta" style="background: #A3D2FF;">
                       <span style="color: #4B88C1;">RELAX</span>
                    </div>
                </div>

                <div class="container-checkbox">
                    <mat-checkbox style="font-family: 'Prompt', sans-serif;">Carvão</mat-checkbox><br>
                    <mat-checkbox style="font-family: 'Prompt', sans-serif;">Cebola</mat-checkbox><br>
                    <mat-checkbox style="font-family: 'Prompt', sans-serif;">Tomate</mat-checkbox><br>
                    <mat-checkbox style="font-family: 'Prompt', sans-serif;">Pimentão</mat-checkbox><br>
                    <mat-checkbox style="font-family: 'Prompt', sans-serif;">Orégano</mat-checkbox><br>
                </div>

                <div class="container-footer">
                    <span>22 de Ago, 2020</span>

                    <div class="editar">
                        <img src="assets/images/editar.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="cardlist-vermelho">
                <span class="title">Compras da semana</span>

                <div class="container-categoria">
                    <div class="marcador" style="background: #F2E2BA;"></div>
                    <span>comida</span>
                </div>

                <div class="container-checkbox">
                    <mat-checkbox style="font-family: 'Prompt', sans-serif;">Ovos</mat-checkbox><br>
                    <mat-checkbox style="font-family: 'Prompt', sans-serif;">Leite</mat-checkbox><br>
                    <mat-checkbox style="font-family: 'Prompt', sans-serif;">Biscoito</mat-checkbox><br>
                </div>

                <div class="container-footer">
                    <span>15 de Jun, 2020</span>

                    <div class="editar">
                        <img src="assets/images/editar.png" alt="">
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>